body {background-color:#e5e5e5; margin: 0px auto; padding:0px;}

a {color:#2ea8e5; text-decoration:none;}
a:hover {text-decoration:underline;}

.bfc {display:block; overflow:hidden;}
.button {color:#2ea8e5; height:32px;}
.right {float:right;}

#site {margin: 0px auto; padding:0px; width:1024px; position:relative; font-family:"Trebuchet MS", Helvetica, sans-serif; font-size:0.8em;}

#header {display:block; width:100%; height: 160px;}

#user {float: right; background:#343434; border: 1px solid #4d4d4d; outline: 1px solid #343434; padding:13px; margin:0px; color:#e5e5e5;}
#user * {vertical-align:top;}
#user img {display:inline-block;}
#user content {display:inline-block;}
#user ul {display:block; margin:0px; padding:0px; padding-left:5px; list-style-position:inside;}

#menu ul {display:block; overflow:hidden; padding:0px; margin:0px; width:100%; border: 1px solid #343434;}
#menu li {float: left; display:block; list-style:none;}
#menu a, #menu span,.button {display: block; width:126px; height:30px; line-height:30px; margin:0px; text-align:center; background-color: #343434; border: 1px solid #4d4d4d; text-decoration:none;}
#menu a:hover, #menu #edit_title:hover,.button:hover {background-color:#3b3b3b;}
#menu a {color: #2ea8e5;}
#menu span {color:#e5e5e5;}
#menu .special, #menu .inactive {display:inline-block; float:right;}
#menu .special a, #pageComments a.report_comment {background: #e69500; border:1px solid #ffa600; padding:0px; width:30px; height:30px;}
#menu .special a:hover, #pageComments a.report_comment:hover {background: #ed9a00;}
#menu .inactive a {background:#4d4d4d; border:1px solid #666666; padding:0px; width:30px; height:30px;}
#menu .inactive a:hover {background: #545454;}
#menu .bfc, #submitComment .bfc {float:none; display:block; height:30px; background: #343434; border:1px solid #4d4d4d;}

#content {margin:0px 64px;}

#comments {margin:32px auto; padding:0px; width:800px;}
#comments form {display:block; overflow:hidden; border:1px solid #343434;}

#pageComments {border-collapse: collapse; margin: 8px 0px; width:100%;}
#pageComments .profile_picture {width:100px;}
#pageComments * {vertical-align:top;}
#pageComments tr {margin: 4px 0px;}
#pageComments td {padding:4px; margin:0px;}
.content {width:100%;}
.comment_content h1 {margin: 0px; padding:0px;}
.comment_content p {margin: 0px; padding:0px;}
#pageComments td.actions {border:0px; width:30px;}
#pageComments a.report_comment {display:block; outline: 1px solid #343434;}
span.time {color:#666766; font-size:0.8em;}

#submitComment .button {height:32px;}